extends layout

block content
    .main
        #texts
        #messLine
            input(type="text", placeholder="Write Massenge")
            button#send: img(src="/images/paper-plane.svg", alt="#")

block script
    script(src="/javascripts/index.js")
