extends layout

block content
    main.login
        form()
            input(type="text", name="login")
            input(type="submit", name="Zaloguj")

block script
    script(src="/javascripts/login.js")